:root {
  --desc-size: 10px;
  --name-size: clamp(24px, 3vw, 42px);
}

.gallery {
  &-view {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    align-self: center;
    justify-self: center;
    width: calc(100% - var(--nav-pad) * 2);
    opacity: 0;
    z-index: -1;
    padding: 20px var(--nav-pad);
    align-content: center;
    // overflow: hidden;
    color: #fffffff5;
    grid-template-columns: auto 1fr auto;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) transform, 0.9s opacity;
    transform: scale(2) translateY(50%);

    &.past {
      transform: scale(0.5) translateY(-150%);
      opacity: 0;
      z-index: -1;
    }
    &.prev {
      transform: scale(0.5) translateY(-150%);
    }
    &.next {
      transform: scale(2) translateY(50%);
    }
    &.current {
      opacity: 1;
      z-index: 2;
      transform: scale(1) translateY(0);
    }
    > * {
      transition: 0.8s, 0.3s opacity !important;
    }
    &.fullscreen {
      > :first-child,
      > :last-child {
        transition: 0.8s, 0.3s opacity !important;
        opacity: 0;
        visibility: hidden;
      }
      > :first-child {
        transform: scale(1.4) translateX(-50%);
      }
      > :last-child {
        transform: scale(1.4) translateX(100%);
      }
    }
  }
  &-hero {
    &-container {
      display: grid;
      align-content: center;
      // width: clamp(180px, 30%, 500px);
    }
  }
  &-name {
    font-size: var(--name-size);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    min-width: fit-content;
    max-width: 400px;
  }
  &-desc {
    opacity: 0.8;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 10px;
    width: 80%;
    max-width: 350px;
    font-size: clamp(15px, 1vw, 20px);
  }
  &-specs {
    align-self: center;
    justify-self: end;
    display: grid;
    align-content: space-between;
    border-left: 2px solid #ffffff60;
    max-height: 220px;
    height: 100%;
  }
  &-spec {
    // background: green;
    position: relative;
    padding-left: 20px;
    color: #ffffff90;
    cursor: pointer;
    transition: 250ms ease-in;
    justify-self: start;
    padding-right: 10px;

    &::after {
      // transition: 250ms ease-in background-color, 700ms ease-in box-shadow;
      transition: inherit;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #a3a7ac;
      border-radius: 50%;
      top: 0;
      left: -10.6px;
    }
    &:hover {
      color: #fffffff5;
      &::after {
        background-color: #ffffff !important;
        box-shadow: 0 0 15px #ffffff80;
      }
    }
  }
  &-ratings {
    padding-top: 10px;
    font-size: clamp(20px, 2vw, 40px);
  }
}

@keyframes slide-animation-in {
  0% {
    transform: scale(2.5) translateY(50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-animation-out {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translateY(-150%);
    opacity: 0;
  }
}

@keyframes slide-animation-prev {
  0% {
    transform: scale(0.5) translateY(-150%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 0;
  }
}

@keyframes slide-animation-next {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translateY(-150%);
    opacity: 0;
  }
}

@media screen and (min-width: 2560px) {
  :root {
    --name-size: clamp(24px, 4vw, 56px);
  }
}
