.gallery {
  &-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;
    max-height: calc(100dvh - var(--nav-height));
    padding-top: var(--nav-height);
  }
  &-content {
    display: grid;
    max-height: 100%;
    grid-template-rows: repeat(4, 100%);
    overflow: auto;
    // grid-auto-flow: row;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      &:nth-child(1) {
        animation-name: slide-animation-1;
      }
      animation-timeline: scroll(block nearest);
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }
  }
  &-footer {
    align-self: last baseline;
    display: grid;
    color: #fffffff5;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 20px var(--nav-pad);

    .brands {
      display: grid;
      grid-auto-flow: column;
      column-gap: 20px;
      opacity: 0.9;

      * {
        cursor: pointer;
        transition: 0.15s ease-in;
        &:hover {
          opacity: 1;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

@keyframes slide-animation-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
