body {
  margin: 0;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background-color: #1c2026;
  background-image: radial-gradient(circle, #7296ae35 0%, #1c2026 100%);
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
}
