body {
  margin: 0;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background-color: #1c2026;
  background-image: radial-gradient(circle, #7296aeb9 -300%, #1c2026);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    background-position: 0% 0%;
    backdrop-filter: blur(10vw);
    z-index: -2;
  }
}

#root {
  display: grid;
  height: 100%;
}

.coming-soon {
  justify-self: center;
  display: none;
  max-width: 680px;
  padding: 0 clamp(20px, 5vw, 40px);
  color: #f6f6f7;
  align-self: center;
  text-align: center;
  line-height: 1.4;
  font-size: clamp(18px, 2.5vw, 36px);
  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  body {
    .gallery-container,
    .nav-bar {
      display: none;
    }
    .coming-soon {
      display: grid;
      h2 {
        font-weight: 500;
      }
    }
  }
}

// @media (prefers-reduced-motion: no-preference) {
// }
