:root {
  --footer-height: auto;
  --car-nav-scale: 1;
  --hide-scale: 0.8;
}

.gallery {
  &-footer {
    align-self: last baseline;
    display: grid;
    color: #fffffff5;
    grid-auto-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--nav-pad);
    height: var(--footer-height);
    .info {
      width: 10vw;
      font-size: clamp(18px, 1.25vw, 28px);
      background: linear-gradient(to right, #ffffff, #7296ae);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .brands {
      overflow: hidden;
      width: 10vw;
      display: grid;
      grid-auto-flow: column;
      column-gap: calc(clamp(16px, 1vw, 20px) + 8px);
      justify-content: end;
      opacity: 0.9;
      font-size: clamp(16px, 1vw, 20px);

      * {
        cursor: pointer;
        transition: 0.15s ease-in;
        &:hover {
          opacity: 1;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }

    &-nav {
      justify-self: center;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      min-width: 300px;
      // column-gap: clamp(10px, 1vw, 30px);
      transition: 0.5s ease-in, 0.3s opacity;
      transform: var(--car-nav-scale);

      &#hide {
        opacity: 0;
        transform: scale(var(--hide-scale));
        visibility: hidden;
      }
      span {
        cursor: pointer;
        z-index: 100 !important;
        transition: 0.3s;
        &#hide {
          opacity: 0;
          visibility: hidden;
        }
      }

      .car {
        &-nav {
          max-width: 100%;
          width: 200px;
          display: grid;
          grid-auto-flow: column;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          column-gap: 20px;
          padding: 0 10px;
          overflow: hidden;
          mask-image: linear-gradient(
            to right,
            #00000010,
            #000,
            #000,
            #00000010
          );

          &::-webkit-scrollbar {
            display: none;
          }
          #demo {
            background-color: transparent !important;
            width: 20px !important;
            // display: none;
          }

          > * {
            scroll-snap-align: center;
            margin: 0 5px;
            width: 100px;
            height: 45px;
            transform: scale(1.4);
            // opacity: 0.1;
            border-radius: 24px;
            scroll-snap-stop: always;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  :root {
    --footer-height: 120px;
    --car-nav-scale: scale(1.3);
    --hide-scale: 1;
  }
}
